[Unit]
Description=Kong API Gateway
After=network.target

[Service]
ExecStart=/opt/kong-build-tools/openresty-build-tools/build/openresty/nginx/sbin/nginx -p /opt/kong -c nginx.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
